# Local Environment
NODE_ENV=development
PORT=3001
JWT_SECRET=super-secret-local-dev-key
FRONTEND_URL=http://localhost:5173
STORAGE_MODE=local

# Appwrite Cloud DB Mode (Uncomment and fill to use)
# STORAGE_MODE=appwrite
# APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
# APPWRITE_PROJECT_ID=
# APPWRITE_API_KEY=
# APPWRITE_DATABASE_ID=
